Django==2.2.13
pytz==2018.5
dj-config-url==0.1.1
dj-database-url==0.5.0
django-crispy-forms==1.7.2
django-mathfilters==0.4.0
gunicorn==19.9.0
psycopg2==2.7.5
whitenoise==4.1
Pillow==5.3.0

#celery
amqp==2.3.2
billiard==3.5.0.4
celery==4.2.1
kombu==4.2.1
vine==1.1.4
idna==2.7

braintree==3.45.0

certifi==2018.10.15
chardet==3.0.4

requests==2.20.0
urllib3==1.24

regex
djangorestframework==3.9.2
